%h3 Welcome, dear #{@user.username}

%p
  %strong Name:
  = @user.first_name
%p
  %strong Email:
  = @user.email
=link_to 'Edit personal information', edit_user_path(@user.id), :method => :get
<br><br>
%p
  %strong Antenna:<br>
= link_to 'Edit Antenna Channel'
<br><br>
%p
  %strong Set top box:<br>
= link_to 'Edit set top box information'
<br><br>
%p
  %strong Device:<br>
= link_to 'Edit your devices'
<br><br>
= link_to 'Cut Cord!', calculator_path(@user), :method => :get 


